<!DOCTYPE html>
<html lang="en">

<head>
  <title>passwordb | edit password</title>
  <%- include('partials/_head') %>
  <link rel="stylesheet" href="/styles/forms.css" type="text/css"/>
</head>

<body class="background">
    <%- include('partials/_header') %>
  <div class="container">

    <div class="form">
      <p class="main-action-tagline"> Edit your password</p>

      <form class="row g-3" action="/api/accounts/<%= id %>" method="POST">

        <div class="col-md-5">
          <input type="text" name="manual_password" class="form-control" placeholder="Enter a password" aria-label="Enter a password">
        </div>

        <div>
          <div class="col-md-5">
            <span id="copyButton" class="input-group-addon btn" title="Click to copy">
            <i class="fas fa-copy" aria-hidden="true"></i>
          </div>
        </div>

          <p id="or">OR</p>

        <!-- Button trigger modal -->
        <div class="col-md-5">
          <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#generatePasswordModal">Generate Password</button>
        </div>

        <button type="submit" id="new-pass" class="btn btn-primary">Change Password</button>
      </form>
    </div>
  </div>

        <!-- Modal -->
        <div class="modal fade" id="generatePasswordModal" tabindex="-1" role="dialog" aria-labelledby="generatePasswordModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="new-form">
                  <p class="main-action-tagline"> Generate random password</p>

                   <form id="password_gen" class="row g-3">
                    <div class="col-12" id="new-pass">
                    <div class="wrapper">
                      <label for="passwordLength" class="title">Password Length:</label>
                      <input type="range" name="passwordLength" id="passwordLength" min="5" max="15" value="10" step="1" class="pwRange" oninput="showLength(this.value)"><span id ="length">10</span>
                        <script>
                           function showLength(newLength)
                            {
                              document.getElementById('length').innerHTML = newLength;
                            }
                         </script>
                    </div>

                    <div id="passwordChoice">
                      <div class="tickboxes">
                        <label for="upperCase" class="formLabel">Uppercase</label>
                          <input type="checkbox" name="upperCase" id="upperCaseBox">
                        <label for="lowerCase" class="formLabel">Lowercase</label>
                          <input type="checkbox" name="lowerCase" id="lowerCaseBox" class="lowerCase">
                          <br>
                        <label for="numbers" class="formLabel">Numbers</label>
                          <input type="checkbox" name="numbers" id="numbersBox">
                        <label for="symbols" class="formLabel">Symbols</label>
                          <input type="checkbox" name="symbols" id="symbolsBox">
                          </br>
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Generate Password</button>
                     </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
</body>
</html>
