<!DOCTYPE html>
<html lang="en">

<head>
  <title>passwordb | generate password</title>
  <%- include('partials/_head') %>
  <link rel="stylesheet" href="/styles/forms.css" type="text/css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body class="background">
    <%- include('partials/_header') %>
  <div class="container">
    <div class="form">
      <p class="main-action-tagline"> Generate random password</p>

      <form id="password_gen" class="row g-3" action="/api/accounts/generate_password" method="POST">
        <div class="col-12" id="new-pass">
          <div class="wrapper">
          <label for="passwordLength" class="title">Password Length:</label>
          <input type="range" name="passwordLength" id="passwordLength" min="5" max="15" value="10" step="1" class="pwRange" oninput="showLength(this.value)"><span id ="length">15</span>
          <script>
            function showLength(newLength)
            {
              document.getElementById('length').innerHTML = newLength;
            }
          </script>
        </div>
        <div id="passwordChoice">
          <div class="tickboxes">
            <label for="upperCase" class="formLabel">Uppercase</label>
            <input type="checkbox" name="upperCase" id="upperCaseBox">
            <label for="lowerCase" class="formLabel">Lowercase</label>
            <input type="checkbox" name="lowerCase" id="lowerCaseBox" class="lowerCase">
            <br>
            <label for="numbers" class="formLabel">Numbers</label>
            <input type="checkbox" name="numbers" id="numbersBox">
            <label for="symbols" class="formLabel">Symbols</label>
            <input type="checkbox" name="symbols" id="symbolsBox">
            </br>
          </div>
        </div>

        <div class="col-12">
          <div class="input-group">
            <input type="text" name="generated_password" id= "copyTarget" class="form-control" placeholder="Your new password is: "  arial-labe="generated password">
            <span id="copyButton" class="input-group-addon btn" title="Click to copy">
              <i class="fas fa-copy" aria-hidden="true"></i>
            </span>
          </div>
        </div>

        <div class="col-md-12 text-center">
          <button type="submit" id= "genButton" class="btn btn-primary">Generate Password</button>
          <button type="submit" id= "confirm" class="btn btn-primary">Confirm</button>
        </div>
        </div>
      </form>
    </div>
  </div>


  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


</body>

</html>
