<!DOCTYPE html>
<html lang="en">

<head>
  <title>passwordb | organizations</title>
  <%- include('partials/_head') %>
  <link rel="stylesheet" href="/styles/forms.css" type="text/css"/>
</head>

<body class="background">
  <%- include('partials/_header') %>
  <div class="container" id="org-container">
    <p class="tagline-main">Join an Organization</p>
    <p class="tagline">Join an existing organization to view all accounts and passwords.</p>

    <div class="form">
      <p class="main-action-tagline" id="select-org"> Select organization</p>

      <form class="row g-3" action="/organizations" method="POST">
        <label for="organization"></label>
        <select name="org_name" class="form-control" id="organization">
          <% for (let organization of organizations) {%>
          <option value=<%= organization.id%>><%= organization.name %></option>
          <%}%>
        </select>
        <div>
          <button type="submit" class="btn btn-primary">Join</button>
        </div>
      </form>
    </div>
  </div>

</body>

</html>
