// COLOR VARIABLES
$primary-color: #5798B2;
$primary-color-light: #8FBACC;
$secondary-color: #E1B851;
$text-color: #393E41;
$text2-color: #1C1F21; // darker for contrast and accessibility

// FONT VARIABLES
$logo-font: 'ABeeZee', sans-serif;
$header-font: 'Signika Negative', sans-serif;
$text-font: 'Hind Guntur', sans-serif;

#pageTitle { // My Passwords
  font-family: $header-font;
  margin-top: 20px;
  margin-left: 30px;
  font-size: 30px;
  font-weight: bold;
}

.icon-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.password-category {
  font-family: $header-font;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 30px;
  display: flex;
}

.social, .work, .entertainment, .health {
  font-size: 20px;
  margin-left: 30px;
  flex-direction: row;
}

.outer-box {
  display: flex;
  align-items: baseline;
}

.boxed {
  width: 300px;
  height: 150px;
  border: 3px solid $secondary-color;
  border-radius: 25px; // make rounded border
  background-color: #E3EEF2;
  font-size: 16px;
  padding: 10px;
}

.login, .url, .password {
  padding-left: 15px;
}

.url {
  padding-top: 5px;
}

// icon stylings

.icons {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  margin: 15px;
}

.fa-people-arrows, .fa-briefcase, .fa-theater-masks, .fa-walking {
  padding-left: 35px;
  padding-top: 20px;
}


.btn {
  padding: 0;
  border: transparent;
  cursor: pointer;
}
