@import url("variables.scss");

.background {
  background-color: $primary-color;
  background-image: url(http://www.transparenttextures.com/patterns/gplay.png);
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh; // slightly less than 100 so it looks horizontally centered on the page
  width: 100%;
}

.logo {
  font-family: $logo-font;
  font-size: 175px;
  color: white;
  margin: 50px 0;
}

.tagline { // join passwordb, the easiest way...
  font-family: $header-font;
  font-size: 24px;
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
}

// button stylings
.btn {
  color: $secondary-color;
  &:hover {
    background-color: $text-color;
    border-color: $secondary-color;
  }
}

.btn-primary { // register button
  background-color: $secondary-color;
  border-color: $secondary-color;
  color: white;
  border-width: 3px;
  font-weight: bold;
  padding-right: 40px;
  padding-left: 40px;
}

.btn-outline-primary { // login button
  background-color: $primary-color;
  border-color: $secondary-color;
  border-width: 3px;
  font-weight: bold;
  padding-right: 40px;
  padding-left: 40px;
  color: white;
}

.buttons {
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

/* Add responsive design for mobile phones */
@media only screen and (min-width:300px) and (max-width: 767px) {
  .logo {
    font-size: 100px;
  }
  .buttons {
    width: 40vh;
  }
}

/* Add responsive design for tablets */
@media only screen and (min-width: 768px) and (max-width:1023px) {
  .logo {
    font-size: 100px;
  }
  .buttons {
    width: 40vh;
  }
}

