@import url("variables.scss");

body,
html {
  margin: 0;
}

// header and nav bar styles

.navbar {
  background-color: $primary-color!important; // had to use important to override bootstrap default stylings
}

.logo-header { // logo in navbar
  font-size: 38px;
  font-family: $logo-font;
  margin: 0;
}

#search-btn { // search button in header
  background-color: $secondary-color!important; // had to use important to override bootstrap default stylings
  border-color: $secondary-color;
  color: white;
  font-weight: bold;
  padding: 5px!important;
  padding-left: 15px!important;
  padding-right: 15px!important;
  &:hover {
    background-color: $text-color!important;
    border-width: 3px;
  }
}
