.registration-form {
  width: 60vh;
  border: grey solid 0.5px;
  padding: 3em;
}

.registration-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center
}

.register-tagline {
  width: 60vh
}

.row g-3 {
  padding: 1em;
}

.col-md-6 {
  margin-bottom: 1.5em
}

.col-12 {
  margin-bottom: 1.5em
}

// from node_skeleton
// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;

//   background: rgb(163, 208, 219);
//   background: linear-gradient(
//     227deg,
//     rgba(163, 208, 219, 1) 0%,
//     rgba(163, 176, 219, 1) 20%,
//     rgba(163, 173, 219, 1) 34%,
//     rgba(163, 219, 208, 1) 59%,
//     rgba(163, 208, 219, 1) 74%,
//     rgba(163, 208, 219, 1) 100%
//   );
// }
